language: ruby
install:
- bundle install
script: bundle exec rake site:deploy --quiet
env:
  global:
  - secure: nZkSocluiCFCVB6tvQh9Lyu+tptpPnmwC6oW6JEmiXNqF/7oAoy3gVotFM40NggZivnW5dayB5Qr5VWFXTqBkr8T5UvmZPm+D8DGvgVVKqpIQ6CFS7HxEx6UpFwhC+XYamWo4lybbX8R5wHxvdMWcUARDSCdJ4cUnjVeUE/jcsQ=
