---
layout: base
---
<article id="faq">
    <div class="container">
        <div class="page-header text-center">
            <h1>Frequently Asked Questions</h1>
        </div>
    <div class="panel-group" id="accordion">
    {% for faq in site.data.faq %}
        <div class="panel panel-info"> 
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" 
           href="#collapse{{ uid }}">{{faq.question}}</a></div>
            <div id="collapse{{ uid }}" class="panel-body panel-collapse collapse">
                {{ faq.answer | markdownify }}
            </div>
        </div>
        {% capture uid %}{% increment uid %}{% endcapture %}
    {% endfor %}
    {% for faq in site.faq %}
        <div class="panel panel-info">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" 
           href="#collapse{{ uid }}">{{faq.question}}</a></div>
            <div id="collapse{{ uid }}" class="panel-body panel-collapse collapse">
                {{ faq.content | markdownify }}
            </div>
        </div>
        {% capture uid %}{% increment uid %}{% endcapture %}
    {% endfor %}
</div>
        {% if site.inc.disqus.shortname %}
            {% include _disqus.html %}
        {% endif %}
</div>
</article>

