---
layout: base
is_front: true
---
<div id="blog-cover" class="blog-cover" style="background-image: url({% asset_path default_bg.svg %});" onerror="this.onerror=null; this.style='background-image: url(images/default_bg.png);'">

    <section>
        <div class="container">
            <h1>The Air Force Hackathon</h1>
            <h2>and Mini-Conference 2014</h2>
            <div class="mission-accomplished" style="color: white; margin-top: 3em;">
                    <h1><i class="fa fa-check-square-o"></i>Mission Accomplished!</h1>
            </div>
            <!-- <div class="countdown visible-md visible-lg" data-date="2014-10-26 13:45:00"></div> -->

<!--             <div class="mailing-list">
                <form class="pure-form" action="http://labhack.createsend.com/t/t/s/ijykti/" method="post">
                    <label for="email"><i class="fa fa-envelope fa-3x"></i></label>
                    <input type="email" name="cm-ijykti-ijykti" placeholder="Email" required>
            </div> -->
        
        </div>


    </section>
</div>
<div class="container">
   <br>
   <div class="alert alert-info"><strong>We were unable to host LabHack 2015. However, we are looking for a few good challenges for LabHack 2016.</strong><strong><a href="https://docs.google.com/forms/d/114HoQBmAhrPhPCnff8yRheQkbpGNKO-4BCJj_63mUBY/viewform">Labhack 2016 challenge submission form</a></strong>.</div>
   <section id="intro">
    <p>
    Thank you for attending LabHack, the first Air Force hackathon. We hope you can join us at future LabHacks!</p>

    <p>
    This was a chance for participants to show off programming, design and data science skills by building solutions to real-world challenges that AFRL researchers encounter every day. We provided the food, location, big network pipelines and challenges. We had cash prizes, workshops, talks, swag and fun events along the way. The event was open to the public.</p>

    <div id="airforce-tv" class="embed-responsive embed-responsive-16by9">
        <iframe src="http://www.youtube.com/embed/neCgy7eiP44" allowfullscreen></iframe>
    </div>
    <ul>
        <li><a href="/faq/what_is_a_hackathon.html">What: A hackathon on data and sensors</a>
        </li>
        <li><a href="/schedule">When: Saturday, 25 October 2014 - Sunday, 26 October 2014</a>
        </li>
        <li><a href="/about">Where: WBI Tec^Edge Innovation and Collaboration Center, Dayton, OH</a>
        </li>
        <li>Why: To learn something new, build something awesome and have fun!</li>
        <li>Who: This event was open to the public. Anyone, military or civilian, could participate.</li>
    </ul>

    For more questions and answers, see our <a href="/faq">FAQ</a>.
</section>
<hr/>
<div class="row">
    <h2>Winning Teams</h2>


AFRL Prize:

<ul>
<li> 1st ($600 + 1 year silver subscription to Github):  <a href="http://www.hackathon.io/eye-movement">Eye Movement - EOG Data Display</a> (<a href="http://www.github.com/labhack/megatron">Source Code</a>)</li>
<li> 2nd ($300 + 1 year bronze subscription to Github): <a href="http://www.hackathon.io/physiological-data">Physiological Data Visualization</a> (<a href="http://www.github.com/labhack/mega">Source Code</a>)</li>
<li> 3rd ($150 + 6 months bronze subscription to Github): <a href="http://www.hackathon.io/jammer-detection">Jammer Detection</a> (<a href="http://www.github.com/labhack/whiskeynovember">Source Code</a>)</li>
</ul>

Community Prize:
Each team member gets to choose O'Reilly book or Dayton Dragons Gear
<ul>
<li>1st: <a href="http://www.hackathon.io/human-laboratory">HUMAN Laboratory Formal Study 1 Analysis</a> (<a href="http://www.github.com/labhack/freemeals">Source Code</a>)</li>
<li>2nd: <a href="http://www.hackathon.io/personnel-monitoring">Personnel Monitoring with Lightweight UDP Datagrams for Intermittent Connections</a> (<a href="http://www.github.com/labhack/UDP-personnel-monitoring">Source Code</a>)</li>
<li>3rd: <a href="http://www.hackathon.io/afrl-human">AFRL Human Laboratory Challenge 2</a> (<a href="http://www.github.com/labhack/honeybadgers">Source Code</a>)</li>
</ul>

Judges Award:
Gave two Dayton Dragons hats to Health Monitoring, <a href="http://www.hackathon.io/health-monitoring">Alert System, and Spotty Connection</a>(<a href="http://www.github.com/labhack/spottyconnection">Source Code</a>).

</div>
<hr/>
<div id="left-col" class="col-lg-8">
    <h3 class="text-center">What Do You Think of LabHack?</h3>
    <div id="testimonial" class="embed-responsive embed-responsive-16by9">
        <iframe src="http://www.youtube.com/embed/QCn4AjkdEiU" allowfullscreen></iframe>
    </div>

    <h3 class="text-center">Day 1 Kickoff</h3>
    <div id="kickoff" class="embed-responsive embed-responsive-16by9">
        <iframe src="http://www.youtube.com/embed/jMEf1efhQZ8" allowfullscreen></iframe>
    </div>

    <h3 class="text-center">Day 1 Conference</h3>
    <div id="conference" class="embed-responsive embed-responsive-16by9">
        <iframe src="http://www.youtube.com/embed/MvSYIxF0FXw" allowfullscreen></iframe>
    </div>

    <h3 class="text-center">Day 2 Project Presentations</h3>
    <div id="live-stream" class="embed-responsive embed-responsive-16by9">
        <iframe src="http://www.youtube.com/embed/bhRPr8X2rT0" allowfullscreen></iframe>
    </div>


    <h3>Other links</h3>
    <ul>
        <li><a href="https://www.dropbox.com/sh/igkko6csbxve33h/AAAdwtSNJ43yUdTFs0Cq_yV_a?dl=0">Kickoff Presentation Slides</a>
        </li>
        <li><a href="https://twitter.com/hashtag/aflabhack">Tweets</a>
        </li>
    </ul>
</div>
<div id="social" class="col-lg-4 visible-lg">
    <section id="social-feeds">
        <div class="row display-block fb-like-box" data-href="https://www.facebook.com/airforcehackathon" data-height="250" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true" style="margin-bottom: 0.5em;"></div>
        <div class="row display-block">
            <a class="twitter-timeline" height="300" width="300" data-border-color="#FFFFFF" data-tweet-limit="4" href="https://twitter.com/hashtag/AFLabHack" data-widget-id="511364423668084736">#AFLabHack Tweets</a>
        </div>

    </section>

</div>

<hr/>
<div id="funding-donors" class="row logos">
    <h2 class="text-center">Donations</h2>
    {% for donor in site.data.donors %} {% if donor.type != "in-kind" %}
    <div class="col-xs-12 col-sm-6 col-md-4 display-block">
        <a href="{{ donor.url }}">
            <img src="{{ donor.logo | asset_path }}" alt="{{ donor.name }}" class="img-responsive" />
        </a>
    </div>
    {% endif %} {% endfor %}
</div>
<hr/>

<div id="in-kind" class="row logos">
    <h2 class="text-center">In-Kind Support</h2>
    {% for donor in site.data.donors %} {% if donor.type == "in-kind" %}
    <div class="col-xs-12 col-sm-6 col-md-4 display-block">
        <a href="{{ donor.url }}">
            <img src="{{ donor.logo | asset_path }}" alt="{{ donor.name }}" class="img-responsive" />
        </a>
    </div>
    {% endif %} {% endfor %}

</div>
</section>

<hr/>

<section id="volunteers">

    <h2 class="text-center">Volunteers</h2>
    <div class="row">
        {% for volunteer in site.volunteers %}
        <div class="col-xs-12 col-sm-6 col-md-3 display-block volunteer ">
            <a href="{{ volunteer.url }}">
                <img src="{{ volunteer.avatar | asset_path }}" class="img-responsive img-rounded" />
                <div class="caption text-center">
                    <h3>{{ volunteer.name }}</h3>
                    <h4>{{ volunteer.tagline }}</4>
                </div>
            </a>
        </div>
        {% endfor %} {% for volunteer in site.data.volunteers %}
        <div class="col-xs-12 col-sm-6 col-md-3 display-block volunteer ">
            <a href="#vModal{{ uid }}" data-toggle="modal" data-target="#vModal{{ uid }}" role="dialog">
                <img src="
        {% if volunteer.photo %}
            {{ volunteer.photo | asset_path }}
        {% else %}
            http://placepic.me/fatcats/200-200-bw?foo={{ uid }}
        {% endif %}
            " class="img-responsive img-rounded" />
            </a>
            <div class="caption text-center">
                <h3>{{ volunteer.name }}</h3>
                <h4>{{ volunteer.tagline }}</h4>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="vModal{{ uid }}" tabindex="-1" role="dialog" aria-labelledby="vModalLabel{{ uid }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="vModalLabel{{ uid }}">{{ volunteer.name }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ volunteer.biography }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% capture uid %}{% increment uid %}{% endcapture %} {% endfor %}
    </div>

</section>

</div>
