---
layout: base
is_front: true
---
<div id="blog-cover" class="blog-cover" style="background-image: url({% asset_path default_bg.svg %});" onerror="this.onerror=null; this.style='background-image: url(images/default_bg.png);'">

    <section>
        <div class="container">
            <h1>The Air Force Hackathon</h1>
            <h2>and Mini-Conference</h2>
            <div class="countdown visible-md visible-lg" data-date="2014-10-26 13:45:00"></div>

            <div class="mailing-list">
                <form class="pure-form" action="http://labhack.createsend.com/t/t/s/ijykti/" method="post">
                    <label for="email"><i class="fa fa-envelope fa-3x"></i></label>
                    <input type="email" name="cm-ijykti-ijykti" placeholder="Email" required>
            </div>
        
        </div>


    </section>
</div>
<div class="container">
            <section id="intro">

                Join us for LabHack, the first Air Force hackathon. This is a chance to show off your programming, design and data science skills by building solutions to real-world challenges that AFRL researchers encounter every day. We provide the food, location, big network pipelines and challenges. There's cash prizes, workshops, talks, swag and fun events along the way. This event is open to the public.

                <ul>
                    <li><a href="/faq/what_is_a_hackathon.html">What: A hackathon on data and sensors</a>
                    </li>
                    <li><a href="/schedule">When: Saturday, 25 October 2014 - Sunday, 26 October 2014</a>
                    </li>
                    <li><a href="/about">Where: WBI Tec^Edge Innovation and Collaboration Center, Dayton, OH</a>
                    </li>
                    <li>Why: To learn something new, build something awesome and have fun!</li>
                    <li>Who: This event is open to the public. Anyone, military or civilian, may participate.</li>
                </ul>

                For more questions and answers, see our <a href="/faq">FAQ</a>.
</section>
                <hr/>
                <h2 class="text-center">Live Broadcast</h2>
                <div id="live-broadcast" class="embed-responsive embed-responsive-16by9">
                    <!-- Morning 
                    <iframe src="//www.youtube.com/embed/jMEf1efhQZ8" frameborder="0" allowfullscreen></iframe> -->
                    <!-- Afternoon -->
                    <iframe src="http://www.youtube.com/embed/MvSYIxF0FXw" frameborder="0" allowfullscreen></iframe>

                </div>
<hr/>
<div class="row">
    Other links:
    <ul>
        <li>Broadcast from the morning: <a href="http://www.youtube.com/embed/jMEf1efhQZ8">click</a></li>
        <li>Presentation Slides: <a href="https://www.dropbox.com/sh/igkko6csbxve33h/AAAdwtSNJ43yUdTFs0Cq_yV_a?dl=0">click</a></li>
    </ul>
</div>
<hr/>

                <h2 class="text-center">Registration</h2>
                <h3 style="color: red; font-size: 1.5em;" class="text-center">Day Pass Now Available!</h3>
                   <div class="row">
        <div id="left-col" class="col-lg-8">
            <section id="registration"> 

                <div id="tickets" style="width:100%; text-align:left;" class="visible-md visible-lg">
                    <iframe src="https://www.eventbrite.com/tickets-external?eid=11292755937&amp;ref=etckt" frameborder="0" height="270" max-height="100%" width="100%" vspace="0" hspace="0" scrolling="false" allowtransparency="true" style="margin-top: 0px; margin-bottom: 0px;">>Loading ticket registration...</iframe>
                </div>
                <div id="tickets-btn" class="hidden-md hidden-lg" style="margin-bottom: 0.5em;">
                    <a class="btn btn-success center-block" href="http://labhack.eventbrite.com">Order Now</a>
                </div>
                <p>
                    LabHack sold out of hackathon tickets 59 days in advance, but you still have a chance to attend. By popular demand, we're offering a
                    <strong>Day Pass</strong> which provides access to:
                    <ul>
                        <li>All talks and workshops</li>
                        <li>Lunch</li>
                        <li>Dinner</li>
                        <li>Snacks</li>
                        <li>Swag and goodies</li>
                    </ul>
                </p>
                <p>
                    You'll also be able to meet some of the hackathon participants and experience the excitement of LabHack and the wonderful people and organizations involved.

                </p>
                <p>
                    <em>Doors open at noon for Day Pass holders on Saturday, 25 October 2014. We ask that Day Pass holders do not arrive prior to noon in order to give hackathon participants time to brainstorm, pitch, form teams and start hacking.
                </p>


            </section>
        </div>
        <div id="social" class="col-lg-4 visible-lg">
            <section id="social-feeds">
            <div class="row display-block fb-like-box" data-href="https://www.facebook.com/airforcehackathon" data-height="250" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true" style="margin-bottom: 0.5em;"></div>
            <div class="row display-block">
                <a class="twitter-timeline" height="300" width="300" data-border-color="#FFFFFF" data-tweet-limit="5" href="https://twitter.com/hashtag/AFLabHack" data-widget-id="511364423668084736">#AFLabHack Tweets</a>
            </div>

        </section>

        </div>
    </div>

<hr/>
<div id="funding-donors" class="row logos">
    <h2 class="text-center">Donations</h2>
    {% for donor in site.data.donors %}
        {% if donor.type != "in-kind" %}
        <div class="col-xs-12 col-sm-6 col-md-4 display-block">
            <a href="{{ donor.url }}">
                <img src="{{ donor.logo | asset_path }}" alt="{{ donor.name }}" class="img-responsive" />
            </a>
        </div>
        {% endif %}
    {% endfor %}
</div>
<hr/>

<div id="in-kind" class="row logos">
    <h2 class="text-center">In-Kind Support</h2>
    {% for donor in site.data.donors %}
        {% if donor.type == "in-kind" %}
        <div class="col-xs-12 col-sm-6 col-md-4 display-block">
            <a href="{{ donor.url }}">
                <img src="{{ donor.logo | asset_path }}" alt="{{ donor.name }}" class="img-responsive"/>
            </a>
        </div>
        {% endif %}
    {% endfor %}

    </div>
</section>

<hr/>

<section id="volunteers">

<h2 class="text-center">Volunteers</h2>
<div class="row">
    {% for volunteer in site.volunteers %}
    <div class="col-xs-12 col-sm-6 col-md-3 display-block volunteer ">
        <a href="{{ volunteer.url }}">
        <img src="{{ volunteer.avatar | asset_path }}"  class="img-responsive img-rounded" />
            <div class="caption text-center">
                <h3>{{ volunteer.name }}</h3>
                <h4>{{ volunteer.tagline }}</4>
            </div>
        </a>
        </div>
    {% endfor %}
    {% for volunteer in site.data.volunteers %}
    <div class="col-xs-12 col-sm-6 col-md-3 display-block volunteer ">
        <a href="#vModal{{ uid }}" data-toggle="modal" data-target="#vModal{{ uid }}" role="dialog">
        <img src="
        {% if volunteer.photo %}
            {{ volunteer.photo | asset_path }}
        {% else %}
            http://placepic.me/fatcats/200-200-bw?foo={{ uid }}
        {% endif %}
            "  class="img-responsive img-rounded" />
        </a>
            <div class="caption text-center">
                <h3>{{ volunteer.name }}</h3>
                <h4>{{ volunteer.tagline }}</h4>
            </div>
        </div>

        <!-- Modal -->
<div class="modal fade" id="vModal{{ uid }}" tabindex="-1" role="dialog" aria-labelledby="vModalLabel{{ uid }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="vModalLabel{{ uid }}">{{ volunteer.name }}</h4>
      </div>
      <div class="modal-body">
        {{ volunteer.biography }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        {% capture uid %}{% increment uid %}{% endcapture %}
    {% endfor %}
</div>

</section>

</div>
