---
layout: base
is_front: true
---
<div id="blog-cover" class="blog-cover" > 
    
    <section class="container">
        <div> 
            <h1>{{ site.inc.title }}</h1>
            <h2>{{ site.inc.tagline }}</h2>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
        </div>
</section>
</div>

<section id="registration">
    
    <div class="container"> Join us for LabHack, a 26-hour hackathon brought to you by Code for America through support of the Air Force Research Laboratory (AFRL) and Wright Brothers Institute. This is a chance to show off your programing, design and data science skills by building solutions to real-world challenges that AFRL researchers encounter every day. We provide the food, location, big network pipelines and challenges. There's cash prizes for the top three teams. We also have workshops, talks, swag and fun events along the way. Best of all, this event is 100% free and open to the public.

<ul>
    <li>What: A 26-hour hackathon around sensor data</li>
    <li>When: Saturday, 25 October 2014 - Sunday, 26 October 2014</li>
    <li>Where: WBI Tec^Edge Innovation and Collaboration Center</li>
    <li>Why: To learn something new, build something awesome and have fun!</li>
    <li>Who: This event is open to the public. Anyone, military or civilian, may participate.</li>
</ul>

For more questions and answers, see our <a href="/faq">FAQ</a>.

<h2>Register</h2>
        <iframe src="https://www.eventbrite.com/tickets-external?eid=11292755937&amp;ref=etckt" frameborder="0" height="520" width="100%" vspace="0" hspace="0" scrolling="false" allowtransparency="true"></iframe>
    </div>
</section>

<hr/>

<section id="schedule">
    <div class="container">
        <h2>Hackathon Schedule</h2>
        <h3>Saturday, 25 October 2014</h3>
        <table>
            <tbody>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
                <tr>
                    <td>8:00 AM</td>
                    <td>Doors Open</td>
                </tr>
                <tr>
                    <td>8:30 AM</td>
                    <td>Breakfast Served</td>
                </tr>
                <tr>
                    <td>9:00 AM</td>
                    <td>Kickoff</td>
                </tr>
                <tr>
                    <td>9:30 AM</td>
                    <td>Hacking Begins</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Lunch Served</td>
                </tr>
                <tr>
                    <td>12:30 PM</td>
                    <td>Lightning Talk #1 TBD</td>
                </tr>
                <tr>
                    <td>12:45 PM</td>
                    <td>Lightning Talk #2 <a href="http://www.github.com">Github (Version Control)</a>
                    </td>
                </tr>
                <tr>
                    <td>1:00 PM</td>
                    <td>Lightning Talk #3 TBD (Data Viz)</td>
                </tr>
                <tr>
                    <td>1:15 PM</td>
                    <td>Lightning Talk #4 <a href="http://www.cs.waikato.ac.nz/ml/weka/">Weka (Data Mining)</a>
                    </td>
                </tr>
                <tr>
                    <td>1:30 PM</td>
                    <td>Lightning Talk #5 <a href="http://d3js.org/">D3.js (Data Viz)</a>
                    </td>
                </tr>
                <tr>
                    <td>1:45 PM</td>
                    <td>Lightning Talk #6 <a href="http://www.spagoworld.org/xwiki/bin/view/SpagoBI/RealTimeBI">SpagoBI (Real-time Biz Intel)</a>
                    </td>
                </tr>
                <tr>
                    <td>6:00 PM</td>
                    <td>Dinner Served</td>
                </tr>
                <tr>
                    <td>11:00 PM</td>
                    <td>Late Night Snack Served</td>
                </tr>
                <tr>
                    <td>#HACK-THROUGH-THE-NIGHT</td>
                </tr>
            </tbody>
        </table>
        <h3>Sunday, 26 October 2014</h3>
        <table>
            <tbody>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
                <tr>
                    <td>8:00 AM</td>
                    <td>Breakfast</td>
                </tr>
                <tr>
                    <td>9:00 AM</td>
                    <td>Team Registration</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Lunch Served</td>
                </tr>
                <tr>
                    <td>1:30 PM</td>
                    <td>Coding Ends, Project Submission Deadline</td>
                </tr>
                <tr>
                    <td>2:00 PM</td>
                    <td>Team Presentations (2-3 minutes each)</td>
                </tr>
                <tr>
                    <td>3:00 PM</td>
                    <td>Judging</td>
                </tr>
                <tr>
                    <td>3:30 PM</td>
                    <td>Prizes and Awards</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<hr/>
<section id="explain-hacking">
    <div class="container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/SCyFxcMsjnA?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

<hr/>

<section id="volunteers">
<div class="container pure-g">

<div class="pure-u-1"><h2>Volunteers</h2></div>

    {% for volunteer in site.volunteers %}
    <div class="volunteer pure-u-1 pure-u-lg-1-3">
        <a href="{{ volunteer.url }}">
        <h2 style="margin-bottom:0px;">{{ volunteer.name }}</h2>
        <div class="tagline">{{ volunteer.tagline }}</div>
        <img src="{{ volunteer.avatar }}" class="pure-img" />
        </a>
        </div>
    {% endfor %}
</div>
</section>

<hr/>

<section id="sponsor" class="container">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-4">
            <h3>Prize</h3>
            <a href="http://www.wpafb.af.mil/AFRL/">
                <img src="images/afrl_badge.jpg" alt="" />
            </a>
        </div>

        <div class="pure-u-1 pure-u-lg-1-4">
            <h3>Location</h3>
            <a href="http://www.wbi-icc.com">
                <img src="images/wbi_logo.png" alt="" />
            </a>
        </div>

        <div class="pure-u-1 pure-u-lg-1-4">
            <h3>Supporting</h3>
            <a href="http://redwall.us">
                <img class="aligncenter size-full wp-image-2191" src="http://wbi-icc.com/wp-content/uploads/2014/04/Redwall_logo_with_text_300_300.png" alt="redwall technology logo" width="145" height="150" />
            </a>
        </div>

        <div class="pure-u-1 pure-u-lg-1-4">
            <h3>Supporting</h3>
            <a href="http://tenet3.com/">
                <img class="aligncenter size-medium wp-image-2195" src="http://wbi-icc.com/wp-content/uploads/2014/04/Tenet3_Web-300x67.png" alt="Tenet3 logo, a Dayton based cyber security analytics company" width="300" height="67" />
            </a>
        </div>
    </div>

    <div>
        <h3>Organizing Partners</h3>
            <a href="http://www.codefordayton.org">
                <img src="images/c4d_logo.png" alt="" height="67" />
            </a>
    </div>
    <div>
        <p><a href="/sponsors" class="btn">View all Sponsors</a>
        </p>
    </div>
</section>
