body {
	margin: 0;
	border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 17px
}

.cc-invisible {
  display: none;
}
 
header {
  height: 3em;
}

.navbar-nav{
  float:none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

.background_image {
  background-image: url("3-monitors.png");
  background-repeat: no-repeat;
  background-size: 1200px auto;
  background-position: right -300px top -50px;
}

.logo_box {
  width: 480px;
  padding-top: 74px;
  padding-left: 262px;
  padding-bottom: 100px;
}

.main_logo {
  width: 420px;
}

.leftbar {
  border-left: 2px solid #fff;
  padding-left: 4em;
  width: 990px;
  margin-left: 10em;
}

.leftbar h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20pt;
  letter-spacing: 5px;
  color: #fff;
  padding-bottom: .9em;
  padding-top: 15px;
}

.leftbar p {
  font-size: 13pt;
  padding-bottom: 1em;
  letter-spacing: 3.6px;
  line-height: 1.5em;
}

.subscribe_box {
  margin-top: 3em;
}

.subscribe_btn {
  text-transform: uppercase;
  color: #707070;
  background-color: #fff;
  margin-left: 8.5em;
  padding: .55em 1em;
  font-size: 20pt;
}

.subscribe_btn,a:hover {
  text-decoration: none;
}

.media_box {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.videoWrapper {
  float: none;
  clear: both;
  position: relative;
  height: 0;
  max-height: 600px;
  margin: 0 auto;
  margin-top: 7.5em;
  max-width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
}

.videoWrapper.first {
  margin-top: 10em;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logos {
  margin-left: 13em;
}

.logos img {
  max-width: 370px; 
  padding: 3em;
  padding-top: 5em;
}

.logos img.first {
  padding-left: 0;
}

.logos img.wide {
  max-width: 465px;
}

.logos img.last {
  padding-right: 0;
}

footer {
  border-top: 1px solid #707070; 
  padding-top: 2em;
}

footer .navbar li {
  font-size: 10pt;
}

footer .navbar li>a {
  display: inline;
}

.navbar-nav a{
  color: #fff;
  text-transform: uppercase;
  font-size: 11pt;
  padding-left: 3em;
  padding-right: 3em;
}

.navbar ul li a:hover {
  color: #fff;
  font-weight:bold;
  background-color: #000;
  border-bottom: 1px solid #fff;
  bottom: 0;
}

 ul li.active:after {
  border-bottom: 1px solid #fff;
  bottom: 0;
  left: 33%;
  content: "";
  position: absolute;
  margin: 0 auto;
  width: 33%;
}

.navbar-toggle .icon-bar {
  border-style: solid;
  border-width: thin;
}

@media (min-width: 1700px) {
  .background_image {
    width: 1700px;
  }
}

@media (max-width: 1650px) {
  .background_image {
    background-image: url("3-monitors.png");
    background-repeat: no-repeat;
    background-size: 1000px auto;
    background-position: right -300px top -10px;
  }

  .leftbar {
    border-left: 2px solid #fff;
    padding-left: 3em;
    width: 70%;
    margin-left: 3em;
  }
  .logos {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }
  
  .logos img {
    max-width: 30%; 
    padding: 1em;
    padding-top: 5em;
  }
  
  .logos img.first {
    padding-left: 1em;
  }
  
  .logos img.wide {
    max-width: 30%;
  }
  
  .logos img.last {
    padding-right: 1em;
  }
}

@media (max-width: 1400px) {
  .background_image {
    background-image: url("3-monitors.png");
    background-repeat: no-repeat;
    background-size: 800px auto;
    background-position: right -400px top 40px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) { 
  .logo_box {
    width: 480px;
    padding-top: 74px;
    padding-left: 100px;
    padding-bottom: 100px;
  }
  
  .main_logo {
    width: 420px;
  }

  .navbar-nav ul li {
    font-size: 12pt;
  }

  .leftbar {
    border-left: 2px solid #fff;
    padding-left: .5em;
    width: 90%;
    margin-left: .1em;
  }

  .leftbar h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
    letter-spacing: 2px;
    padding-bottom: .9em;
    padding-top: 15px;
  }
  
  .leftbar p {
    font-size: 12pt;
    padding-bottom: 1em;
    letter-spacing: 2px;
    line-height: 1.5em;
  }

  .subscribe_box {
    text-align: center;
  }

  .subscribe_btn {
    margin-left: 0;
  }

  .logos {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }
  
  .logos img {
    max-width: 30%; 
    padding: 1em;
    padding-top: 5em;
  }
  
  .logos img.first {
    padding-left: 1em;
  }
  
  .logos img.wide {
    max-width: 30%;
  }
  
  .logos img.last {
    padding-right: 1em;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {

  .background_image {
    background: #000;
    width: 100%;
  }
  .logo_box {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .main_logo {
    width: 100%;
    max-width: 400px;
  }
  
  .leftbar {
    border-left: 2px solid #fff;
    padding-left: .5em;
    width: 100%;
    margin-left: .1em;
  }

  .leftbar h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
    letter-spacing: 2px;
    padding-bottom: .9em;
    padding-top: 15px;
  }
  
  .leftbar p {
    font-size: 12pt;
    padding-bottom: 1em;
    letter-spacing: 2px;
    line-height: 1.5em;
  }

  .subscribe_box {
    text-align: center;
  }

  .subscribe_btn {
    margin-left: 0;
  }

  .logos {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }
  
  .logos img {
    width: 100%; 
    padding: 1em;
    padding-top: 5em;
  }
  
  .logos img.first {
    padding-left: 1em;
  }
  
  .logos img.wide {
    max-width: 30%;
  }
  
  .logos img.last {
    padding-right: 1em;
  }
}


@media (max-width: 767px) {
  .background_image {
    background: #000;
  }
  .logo_box {
    width: 100%;
    padding: 0;
  }
  .main_logo {
    width: 100%;
  }

  .leftbar {
    border-left: 2px solid #fff;
    padding-left: .5em;
    width: 100%;
    margin-left: .1em;
  }

  .leftbar h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    letter-spacing: 2px;
    padding-bottom: .9em;
    padding-top: 15px;
  }
  
  .leftbar p {
    font-size: 9pt;
    padding-bottom: 1em;
    letter-spacing: 2px;
    line-height: 1.5em;
  }

  .subscribe_box {
    margin-top: 3em;
  }
  
  .subscribe_btn {
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    font-size: 10pt;
  }

  .videoWrapper {
    margin-top: 2em;
  }

  .videoWrapper.first {
    margin-top: 2em;
  }

  .logos {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  
  .logos img {
    max-width: 100%; 
    padding: 1em;
    padding-top: 5em;
  }
  
  .logos img.first {
    padding-left: 1em;
  }
  
  .logos img.wide {
    max-width: 100%;
  }
  
  .logos img.last {
    padding-right: 1em;
  }
}

