body {
    margin:0;
    border:0;
    font-family:$font;
    color:$text;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizelegibility;
    font-size:17px;
}

.is-visible {
    
    .site-nav {
        top:100px;
    }
    
    .top-nav {
        opacity:1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        transition:0.3s all ease;
        top:-200px;
    }
}

h1, h2, h3, h4, h5 {
    color:#263c4c;
}

h1, h2 {
    font-family:$fontheadings;
}

a {
    color:$accent;
    text-decoration:none;
    transition:all 0.2s ease;
    
    &:hover {
        color:darken($accent, 50%);
        text-decoration:none;
    }
}

.container {
    max-width:820px;
    margin:auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.article-cover {
    max-width: 100%;
    margin-top: 0;
    position: relative;
    max-height:460px;
    overflow:hidden;
    background:#eee;
    
    > div {
        max-height: 480px;
        line-height: 0;
    }
    
    .image {
        width: 100%;
        top: 0;
        position:relative;
    }
}

.index {
    margin:0 5em;
    
    > div{
        display:table-cell;
    }
    
    .title {
        margin:0em 0 0.6em;
    }

    .question {
        margin:0em 0 0.6em;
        font-style: italic;
    }
    
    .avatar {
        float:left;
        border-radius:62px;
        height:48px;
        width:48px;
        margin-top:0;
        margin-right:30px;
    }
}

.blog-cover {
    /* Set rules to fill background */
    min-height: 100%;
    max-height: 100%; 
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    position: relative;
    
    background-color:#111;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position:center center;


    section {
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        bottom:0;
        background-color:rgba(0,0,0,0.4);
        background-image: linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);

        background-image: -webkit-gradient(
        	linear,
        	left bottom,
        	left top,
        	color-stop(0, rgba(0,0,0,0.15)),
        	color-stop(1, rgba(0,0,0,0))
        );
        padding: 40px 0;
        z-index:10;

        a:last-child {
            margin:1.5em 0 0 0;
        }
        a {
            color:#fff;
            border:0;
            width:36px;
            height:36px;
            border:2px solid rgba(255,255,255,1);
            display:inline-block;
            padding:10px 0;
            border-radius:42px;
            margin:1.5em 1em 0em 0;
            transition:0.2s all ease;
            line-height:0;
            text-align:center;
        
           }
        
    }
    
    h1 {
        font-size:2.7em;
        line-height:1.4em;
    }
    
    h3 {
        font-size:1.3em;
    }
    
    h1, h2, h3 {
        color:#fff;
        margin:0;
        font-weight:600;
    }

    .countdown {
        margin: 35px 0px 35px 0px;
        color: #ffffff;
    }

    .countdown h4 {
        color: #ffffff;
    }
    
}

.pagination {
    text-align:center;
}

.site-footer {
    padding:5em 0;
    margin:4em 0 0 0;
    background:whitesmoke;;
    color:#aaa;
    font-size:0.8em;
    
    a {
        color:#777;
        border:0;
        margin:0 0.5em;
        
        &:hover {
            color:#222;
        }
    }
    
    p {
        color:#999;
        a {
            margin:0;
            color:#999;
        }
    }
    
    nav {
       display:inline-block;
    }
    
    .social {
        float:right;
        
        a {
            color:#000;
            border:0;
            width:36px;
            height:36px;
            border:2px solid rgba(0,0,0,1);
            display:inline-block;
            padding:10px 0;
            border-radius:42px;
            margin:0 1em 0em 0;
            transition:0.2s all ease;
            line-height:0;
            text-align:center;
            opacity:0.3;

            &:hover {
                opacity:0.9;
            }
        }
    }
}

.muted {
    color:$textmuted;
}

div.prize-icon {
    float: left;
}

div.prize-icon img {
    margin: 0px;
    max-height: 150px;
    max-width: 150px;
    padding-right: 1em; 
}

.rule-short {
    font-size: 1.5em;
    color: red;
}

.mailing-list {

    margin-top: 35px;

   input, i {
        border-color: white;
   }

   i {
    color: white;
    margin-right: 10px;
    vertical-align: middle;
   }
   
}

.logos {
    img {
    max-height:200px;
    margin: 0.25em;
    }
}

.volunteer {

    img {
        height: 200px;
    }

    .h2 {
        margin-bottom:0px;
    }
}
