.site-nav {
    background:#fff;
    height:80px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transition:all 0.35s ease;
    z-index:100;
    
    .caret {
        opacity:0.2;
    }
    
    .brand img {
        height:40px;
        margin-right:10px;
        margin-top:-2px;
    }
    
    .dropdown {
        display:inline-block;
    }
    
    nav {
        padding:22px 30px;
        float:left;
        height:80px;
        display:table-cell;
    }
    
    #navigation {
        padding-right:0;
        
        a {
            border:0;
            margin:0 0.9em;
            display:inline-block;
            
            &:hover {
                color:$accent;
            }
        }
        
        > a, .dropdown-toggle  {
            color:#444;
            border:0;
            font-weight:600;
            font-size:15px;
            display:inline-block;
        }
        
        .dropdown-toggle {
            padding: 6px 0.5em;
            text-align: center;
            
            &:hover {
                background:#eee;
            }
        }
    }
    
    .tagline {
        float:right;
        text-align:right;
        font-size:15px;
        font-weight:600;
        
        span {
            line-height:0;
            padding-right:20px;
        }
    }
}

body.nav-hidden {
    .site-nav {
        top:-100px;
        transition:all 0.35s ease;
        -webkit-transform: translate3d(0px, 0, 0px);
    }
}

#social-box {
    font-size: 14px;
    color: #aaa;
    padding-top: 22px;
    padding-right: 0px;
    margin-right: 0px;
    height:80px;
    float: right;
}
#social-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#social-box ul li {
    -webkit-border-radius: 13px;
    border-radius: 13px;
    float: left;
    margin: 0 0 0 15px;
    background: #ddd;
}
#social-box ul li a {
    transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -webkit-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    display: block;
    min-width: 26px;
    height: 26px;
    padding: 0 0 0 0;
    background: #ddd;
    text-align: center;
    line-height: 27px;
    color: #FFF;
    float: left;
}
#social-box ul li a:hover {
    opacity: .7;
}
/*#social-box ul li.youtube a {
      background-color: #c22e2c; }
    #social-box ul li.flickr a {
      background-color: #fd0083; }
    #social-box ul li.instagram a {
      background-color: #7f4837; }
    #social-box ul li.pinterest a {
      background-color: #c81c1e; }
    #social-box ul li.dribbble a {
      background-color: #de4a84; }
    #social-box ul li.tumblr a {
      background-color: #35506b; }
    #social-box ul li.twitter a {
      background-color: #00aced; }
    #social-box ul li.facebook a {
      background-color: #3B5998; }
    #social-box ul li.linkedin a {
      background-color: #4875B4; }
    #social-box ul li.google a {
      background-color: #C63D2D; }
    #social-box ul li.phone a {
      padding: 0 10px; }
    #social-box ul li.phone a {
      background-color: #6dd043; }
    #social-box ul li.rss a {
      background-color: #f89333; }
    #social-box ul li.email a {
      background-color: #0073c6; }*/

#social-box ul li.youtube a:hover {
    background-color: #c22e2c !important;
}
#social-box ul li.flickr a:hover {
    background-color: #fd0083;
}
#social-box ul li.instagram a:hover {
    background-color: #7f4837;
}
#social-box ul li.pinterest a:hover {
    background-color: #c81c1e;
}
#social-box ul li.dribbble a:hover {
    background-color: #de4a84;
}
#social-box ul li.tumblr a:hover {
    background-color: #35506b;
}
#social-box ul li.twitter a:hover {
    background-color: #00aced;
}
#social-box ul li.facebook a:hover {
    background-color: #3B5998;
}
#social-box ul li.linkedin a:hover {
    background-color: #4875B4;
}
#social-box ul li.google a:hover {
    background-color: #C63D2D;
}
#social-box ul li.phone a {
    padding: 0 10px;
}
#social-box ul li.phone a:hover {
    background-color: #6dd043;
}
#social-box ul li.rss a:hover {
    background-color: #f89333;
}
#social-box ul li.email a:hover {
    background-color: #0073c6;
}
#social-box ul li.search {
    overflow: hidden;
}
#social-box ul li.search a {
    background: none;
}
#social-box ul li.search.active form input {
    width: 80px;
    padding-right: 15px;
    opacity: 1;
}
#social-box form {
    float: left;
}
#social-box form input {
    transition: width 0.25s ease-out;
    -moz-transition: width 0.25s ease-out;
    -webkit-transition: width 0.25s ease-out;
    -o-transition: width 0.25s ease-out;
    padding: 6px 0 0 0;
    outline: none;
    color: #fff;
    border: none;
    width: 0;
    opacity: 0;
    background: none;
}


