<!DOCTYPE html>
<html>
<head>
<!--

 /$$      /$$           /$$                                                   /$$$$$$$$       
| $$  /$ | $$          | $$                                                  |__  $$__/       
| $$ /$$$| $$  /$$$$$$ | $$  /$$$$$$$  /$$$$$$  /$$$$$$/$$$$   /$$$$$$          | $$  /$$$$$$ 
| $$/$$ $$ $$ /$$__  $$| $$ /$$_____/ /$$__  $$| $$_  $$_  $$ /$$__  $$         | $$ /$$__  $$
| $$$$_  $$$$| $$$$$$$$| $$| $$      | $$  \ $$| $$ \ $$ \ $$| $$$$$$$$         | $$| $$  \ $$
| $$$/ \  $$$| $$_____/| $$| $$      | $$  | $$| $$ | $$ | $$| $$_____/         | $$| $$  | $$
| $$/   \  $$|  $$$$$$$| $$|  $$$$$$$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$         | $$|  $$$$$$/
|__/     \__/ \_______/|__/ \_______/ \______/ |__/ |__/ |__/ \_______/         |__/ \______/ 
                                                                                              
                                                                                              
                                                                                              
 /$$                 /$$       /$$   /$$                     /$$                              
| $$                | $$      | $$  | $$                    | $$                              
| $$        /$$$$$$ | $$$$$$$ | $$  | $$  /$$$$$$   /$$$$$$$| $$   /$$                        
| $$       |____  $$| $$__  $$| $$$$$$$$ |____  $$ /$$_____/| $$  /$$/                        
| $$        /$$$$$$$| $$  \ $$| $$__  $$  /$$$$$$$| $$      | $$$$$$/                         
| $$       /$$__  $$| $$  | $$| $$  | $$ /$$__  $$| $$      | $$_  $$                         
| $$$$$$$$|  $$$$$$$| $$$$$$$/| $$  | $$|  $$$$$$$|  $$$$$$$| $$ \  $$                        
|________/ \_______/|_______/ |__/  |__/ \_______/ \_______/|__/  \__/                        
                                                                                              
 
 -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.inc.title }}{% else %}{{ site.inc.title }} &mdash; {{ site.inc.subtitle }}{% endif %}</title>
    {% if site.inc.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">{% endif %}
    {% stylesheet main %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ site.inc.logo }}"/>
    <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %} 
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>  
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>   
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}"/>
    <meta name="description" content="{{ page.excerpt }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.inc.title }}">     

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">

</head>
<body>
    
    <header>
        <nav id="navigation">
            <div class="pure-menu pure-menu-open pure-menu-horizontal">
                <a href="/" class="pure-menu-heading" style="font-size: 2em;">LabHack <i class="fa fa-fighter-jet" style="vertical-align: middle;"></i></a>
                <ul>
                    <li><a href="/prizes">Challenges</a>
                    </li>
                    <li><a href="/faq">FAQ</a>
                    </li>
                    <li><a href="/schedule">Schedule</a>
                    </li>
                    <li><a href="/faq/what_is_a_hackathon.html">What is a Hackathon?</a>
                    </li>
                    <li><a href="/blog">Blog</a>
                    </li>
                    <li><a href="/donate">Donate</a>
                    </li>
                </ul>
            </div>
        </nav>

{% if false %}
<div id="social-box">
    <ul>
        <li class="phone"><a href="tel://937-985-0867"><i class="fa fa-phone"></i> <span>937-985-0867</span></a>
        </li>

        <li class="email"><a href="/contact"><i class="fa fa-envelope"></i></a>
        </li>

        <li class="search">
            <a href="#"><i class="fa fa-search"></i></a>
            <form action="http://labhack.org/">
                <input type="text" name="s">
            </form>
        </li>

    </ul>

</div> {% endif %}

<div class="mobile-hide">
    <a href="https://github.com/codefordayton/labhack">
        <img style="position: absolute; top: 0; right: 0; border: 0; width: 120px; height: 120px; z-index: 10;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-cerulean@2x.png" alt="Fork me on GitHub">
    </a>
</div>

    </header>

{{ content }}

<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }} 
        
        <nav>
            <a href="{{ site.inc.url }}">{{ site.inc.company }}</a> &middot;
            <a href="/contact">Contact Us</a>
        </nav>
        
        <nav class="social">
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="fa fa-twitter black"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="fa fa-facebook black"></i></a>
            {% endif %}    
            <a href="/feed.xml" title="RSS Feed">
                <i class="fa fa-rss black"></i>
            </a>
        </nav>
    </div>
</footer>

{% include _scripts.html %}

</body>
</html>
