---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="{{ page.cover_image | asset_path }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <header>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

            {{ content }}
            {% include _social.html %}

        {% if site.inc.disqus.shortname %}
            {% include _disqus.html %}
        {% endif %}
    </div>
</article>
